In [45]:
import numpy as np
import pandas as pd # 引用套件並縮寫為 pd

# 產生模擬資料
name = ["Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan"] 
CT=["Asia","Asia","Asia","Asia"]
yr = [1950,1951,1952,1953]
life=[29.22,29.83,29.54,29.7]
population=[8221506,8367138,8512771,8658404]
gdpPercap=[801,741,754,768]

# 字典宣告{key: value}
dict = {"country": name,  
        "continent": CT,
        "year":yr,
        "lifeExp":life,
        "pop":population,
        "gdpPercap":gdpPercap
       }

df = pd.DataFrame(dict)
df

       country continent  year  lifeExp      pop  gdpPercap
0  Afghanistan      Asia  1950    29.22  8221506        801
1  Afghanistan      Asia  1951    29.83  8367138        741
2  Afghanistan      Asia  1952    29.54  8512771        754
3  Afghanistan      Asia  1953    29.70  8658404        768

In [46]:
dict["country"]

['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan']

#### at 與 iat 都用來針對特定資料

In [47]:
df.at[1, "country"] = "Japan"
df

       country continent  year  lifeExp      pop  gdpPercap
0  Afghanistan      Asia  1950    29.22  8221506        801
1        Japan      Asia  1951    29.83  8367138        741
2  Afghanistan      Asia  1952    29.54  8512771        754
3  Afghanistan      Asia  1953    29.70  8658404        768

In [48]:
df.iat[1, 0] = "Afghanistan"
df

       country continent  year  lifeExp      pop  gdpPercap
0  Afghanistan      Asia  1950    29.22  8221506        801
1  Afghanistan      Asia  1951    29.83  8367138        741
2  Afghanistan      Asia  1952    29.54  8512771        754
3  Afghanistan      Asia  1953    29.70  8658404        768

In [9]:
df.country

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
Name: country, dtype: object

In [10]:
df.rand = pd.DataFrame(np.random.rand(4, 4), index = list('abcd'), columns= list('ABCD'))
df.rand

C:\Users\superuser\AppData\Local\Temp\ipykernel_5720\453132120.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.rand = pd.DataFrame(np.random.rand(4, 4), index = list('abcd'), columns= list('ABCD'))

          A         B         C         D
a  0.745027  0.268819  0.095467  0.872604
b  0.432769  0.671211  0.044083  0.953992
c  0.042679  0.612546  0.936146  0.456491
d  0.094239  0.700381  0.035225  0.571777

## 資料描述查看,可以透過下列方法查看目前資料的資訊

shape

describe()

head()

tail()

columns

index

info()

In [11]:
print("回傳列數與欄數:")
print(df.shape)
print("---------------------------------------------------------------------")  

print("回傳基本描述性統計:")
print(df. describe())
print("---------------------------------------------------------------------")  

print("回傳最前三筆:"),
print(df.head(3))
print("---------------------------------------------------------------------")   

print("回傳最後三筆:")
print(df.tail(3))
print("---------------------------------------------------------------------") 

print("回傳欄位名稱:")
print(df.columns)
print("---------------------------------------------------------------------") 

print("回傳Index:")
print(df.index)
print("---------------------------------------------------------------------")  

print("回傳資料內容:")
print(df.info())
print("---------------------------------------------------------------------")

回傳列數與欄數:
(4, 6)
---------------------------------------------------------------------
回傳基本描述性統計:
              year    lifeExp           pop   gdpPercap
count     4.000000   4.000000  4.000000e+00    4.000000
mean   1951.500000  29.572500  8.439955e+06  766.000000
std       1.290994   0.263233  1.880110e+05   25.806976
min    1950.000000  29.220000  8.221506e+06  741.000000
25%    1950.750000  29.460000  8.330730e+06  750.750000
50%    1951.500000  29.620000  8.439954e+06  761.000000
75%    1952.250000  29.732500  8.549179e+06  776.250000
max    1953.000000  29.830000  8.658404e+06  801.000000
---------------------------------------------------------------------
回傳最前三筆:
       country continent  year  lifeExp      pop  gdpPercap
0  Afghanistan      Asia  1950    29.22  8221506        801
1  Afghanistan      Asia  1951    29.83  8367138        741
2  Afghanistan      Asia  1952    29.54  8512771        754
---------------------------------------------------------------------
回傳最後三筆:
       country continent  year  lifeExp      pop  gdpPercap
1  Afghanistan      Asia  1951    29.83  8367138        741
2  Afghanistan      Asia  1952    29.54  8512771        754
3  Afghanistan      Asia  1953    29.70  8658404        768
---------------------------------------------------------------------
回傳欄位名稱:
Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')
---------------------------------------------------------------------
回傳Index:
RangeIndex(start=0, stop=4, step=1)
---------------------------------------------------------------------
回傳資料內容:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    4 non-null      object
 1   continent  4 non-null      object
 2   year       4 non-null      int64
 3   lifeExp    4 non-null      float64
 4   pop        4 non-null      int64
 5   gdpPercap  4 non-null      int64
dtypes: float64(1), int64(3), object(2)
memory usage: 320.0+ bytes
None
---------------------------------------------------------------------

### 資料選擇與篩選:可以透過下列方法選擇元素

#### 中括號 [] 選擇元素:將變數當作屬性選擇

#### .loc .iloc 方法選擇

#### Pandas 透過使用中括號 [] 與 .iloc 可以很靈活地從 data frame 中選擇想要的元素

#### Python 在指定 0:1 時不包含 1，在指定 0:2 時不包含 2

In [12]:
#iloc都是抓到end-1
df.iloc[:2, :3]

       country continent  year
0  Afghanistan      Asia  1950
1  Afghanistan      Asia  1951

In [13]:
df.iloc[0:1, :]

       country continent  year  lifeExp      pop  gdpPercap
0  Afghanistan      Asia  1950    29.22  8221506        801

In [14]:
#列只取1和3
df.iloc[[1, 3], [1, 2, 3]]

  continent  year  lifeExp
1      Asia  1951    29.83
3      Asia  1953    29.70

In [15]:
#因為loc是標籤，所以是抓1~3
df.loc[1:3, 'year':'pop']

   year  lifeExp      pop
1  1951    29.83  8367138
2  1952    29.54  8512771
3  1953    29.70  8658404

In [16]:
df

       country continent  year  lifeExp      pop  gdpPercap
0  Afghanistan      Asia  1950    29.22  8221506        801
1  Afghanistan      Asia  1951    29.83  8367138        741
2  Afghanistan      Asia  1952    29.54  8512771        754
3  Afghanistan      Asia  1953    29.70  8658404        768

### 使用布林值篩選-選出平均壽命（lifeExp）超過 29.69的資料
### 以下三種寫法都可以，通常使用最後一種(簡單明瞭)

In [17]:
out_df = df[df.iloc[:, 3] > 29.69]
out_df

       country continent  year  lifeExp      pop  gdpPercap
1  Afghanistan      Asia  1951    29.83  8367138        741
3  Afghanistan      Asia  1953    29.70  8658404        768

In [21]:
out_df = df[df.loc[:, "lifeExp"] > 29.69]
out_df

       country continent  year  lifeExp      pop  gdpPercap
1  Afghanistan      Asia  1951    29.83  8367138        741
3  Afghanistan      Asia  1953    29.70  8658404        768

In [18]:
out_df2 = df[df['lifeExp'] > 29.69]
out_df2

       country continent  year  lifeExp      pop  gdpPercap
1  Afghanistan      Asia  1951    29.83  8367138        741
3  Afghanistan      Asia  1953    29.70  8658404        768

## 資料排序：

### .sort_index()
### .sort_values()

### 透過索引值做排序，axis 可以指定依照行還是依照列排序(0: 列， 1: 行)，ascending 用於設定升冪(True)或降冪(False)

In [28]:
df.sort_index(axis = 1, ascending = True)

       country continent  year  lifeExp      pop  gdpPercap
0  Afghanistan      Asia  1950    29.22  8221506        801
1  Afghanistan      Asia  1951    29.83  8367138        741
2  Afghanistan      Asia  1952    29.54  8512771        754
3  Afghanistan      Asia  1953    29.70  8658404        768

## 透過指定欄位的數值排序

In [29]:
df.sort_values(['year'], ascending = False)
df.sort_values(by = 'year', ascending = False)

       country continent  year  lifeExp      pop  gdpPercap
3  Afghanistan      Asia  1953    29.70  8658404        768
2  Afghanistan      Asia  1952    29.54  8512771        754
1  Afghanistan      Asia  1951    29.83  8367138        741
0  Afghanistan      Asia  1950    29.22  8221506        801

## 資料純化：

### 判斷是否為空值,可以使用下列兩種方法來判斷：
### isnull()
### notnull()

## 下列程式引導您先讀取CSV檔案，檔案內的欄位部分會有空值,故進行資料純化。

#### 以下將year為空的資料直接補0，但年份為0不合理，最好先觀察資料，選擇填入的值

In [ ]:
# 讀取 CSV File
import pandas as pd                                    # 引用套件並縮寫為 pd  
df = pd.read_csv('WBtestEN-10y.csv') 

#如果不要原來DataFrame df受到函式的影響，則可以將處理結果交給一個新DataFrame（例如dftest1）

dftest1=df                                              #將資料複製到dftest1
print(df.head())
print("共有多少國家："+str(dftest1['country'].nunique())) #找出相異資料
df=dftest1.fillna(0)                                    #把NaN資料替換成0

print(df.head())

In [30]:
# 讀取 CSV File
import pandas as pd                                    # 引用套件並縮寫為 pd  
df = pd.read_csv('WBtestEN-10y.csv') 

#如果不要原來DataFrame df受到函式的影響，則可以將處理結果交給一個新DataFrame（例如dftest1）

dftest1=df                                              #將資料複製到dftest1
print(df.head())
print("共有多少國家："+str(dftest1['country'].nunique())) #找出相異資料
df=dftest1.fillna(df.year.median())                                    #把NaN資料替換成0

print(df.head())

   Unnamed: 0      country continent    year  lifeExp       pop  gdpPercap
0           0  Afghanistan      Asia  1950.0    29.22   8221506        728
1          10  Afghanistan      Asia     NaN    31.33   9856623        840
2          20  Afghanistan      Asia  1970.0    35.26  12462862        778
3          30  Afghanistan      Asia  1980.0    39.29  13681238        901
4          40  Afghanistan      Asia     NaN    41.33  15337935        731
共有多少國家：142
   Unnamed: 0      country continent    year  lifeExp       pop  gdpPercap
0           0  Afghanistan      Asia  1950.0    29.22   8221506        728
1          10  Afghanistan      Asia  1990.0    31.33   9856623        840
2          20  Afghanistan      Asia  1970.0    35.26  12462862        778
3          30  Afghanistan      Asia  1980.0    39.29  13681238        901
4          40  Afghanistan      Asia  1990.0    41.33  15337935        731

### 如此操作前提是先確定在當前資料分析情境下：將不存在的值視為0 這件事情是沒有問題的。兼顧DataFrame 的數據品質，最好將空值設定成任何容易識別的值：
### 觀察本例中year欄位規律是間隔十年，可以用「前後項的平均值」放入，故將前後二項平均放入，是最佳純化的方法。處理空值的其他常用方法：

### 填入所有項目該欄位之平均值：
#### dftest[‘year'].fillna(value=df['year'].mean(), inplace=True)
### 填入往前遇到的第一個非 nan值：
#### dftest[‘year’].fillna(method='ffill', inplace=True)
### 填入往後遇到的第一個非 nan 值：
#### dftest['year'].fillna(method='bfill', inplace=True)

In [32]:
# 讀取後放入 DataFrame
dftest3 = pd.DataFrame(df)
# 找出哪些是空值,哪些不是空值
print("numbers of row that year is NAN: %i"  %sum(dftest3.year.isnull()))
print("numbers of row that year is not NAN: %i"  %sum(dftest3['year'].notnull()))

numbers of row that year is NAN: 0
numbers of row that year is not NAN: 1278

In [ ]:
#用前後二值的平均值填入nan值，使用fillna和shift（）獲得所需的输出

dftest3.year = dftest3.year.fillna((dftest3.year.shift() + dftest3.year.shift(-1))/2)

In [ ]:
# 讀取 CSV File

import pandas as pd                                        #引用套件並縮寫為pd  
df = pd.read_csv('WBdataEN-5y.csv') 

dftest2=df                                                 #將資料複製到dftest
print(df.head(6))
print("共有多少國家："+str(dftest2['country'].nunique()))    #找出相異資料
                                                           #把NaN資料替換成0
dftest2.year = df.year.fillna((df.year.shift() + df.year.shift(-1))/2)
print(df.head(6))