In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("Stock_AAPL.csv")
df.head()

,Unnamed: 0,Date,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted,DN(下軌線),MAVG( 移動平均),UP(上軌線),direction
0,0,2018-03-17,127.489998,128.880005,126.919998,127.830002,63152400.0,122.905254,106.741052,117.927667,129.114281,Increasing
1,1,2018-03-18,127.629997,128.779999,127.449997,128.720001,44891700.0,123.760965,107.842423,118.940333,130.038244,Increasing
2,2,2018-03-19,128.479996,129.029999,128.330002,128.449997,37362400.0,123.501363,108.894245,119.889167,130.884089,Decreasing
3,3,2018-03-20,128.619995,129.500000,128.050003,129.500000,48948400.0,124.510914,109.785449,120.763500,131.741551,Increasing
4,4,2018-03-21,130.020004,133.000000,129.660004,133.000000,70974100.0,127.876074,110.372516,121.720167,133.067817,Increasing

In [6]:
df.drop(['Unnamed: 0'], axis = 1, inplace=True)
df

,Date,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted,DN(下軌線),MAVG( 移動平均),UP(上軌線),direction
0,2018-03-17,127.489998,128.880005,126.919998,127.830002,6.315240e+07,122.905254,106.741052,117.927667,129.114281,Increasing
1,2018-03-18,127.629997,128.779999,127.449997,128.720001,4.489170e+07,123.760965,107.842423,118.940333,130.038244,Increasing
2,2018-03-19,128.479996,129.029999,128.330002,128.449997,3.736240e+07,123.501363,108.894245,119.889167,130.884089,Decreasing
3,2018-03-20,128.619995,129.500000,128.050003,129.500000,4.894840e+07,124.510914,109.785449,120.763500,131.741551,Increasing
4,2018-03-21,130.020004,133.000000,129.660004,133.000000,7.097410e+07,127.876074,110.372516,121.720167,133.067817,Increasing
...,...,...,...,...,...,...,...,...,...,...,...
514,2019-08-13,148.380279,148.631822,147.472518,148.030308,2.419013e+07,148.030308,127.089837,139.449611,151.809385,increasing
515,2019-08-14,149.864082,150.118140,148.947243,149.510611,2.443203e+07,149.510611,128.360735,140.844107,153.327479,increasing
516,2019-08-15,151.362722,151.619322,150.436715,151.005717,2.467635e+07,151.005717,129.644342,142.252548,154.860753,increasing
517,2019-08-16,152.876350,153.135515,151.941083,152.515775,2.492312e+07,152.515775,130.940786,143.675073,156.409361,increasing
518,2019-08-17,154.405113,154.666870,153.460493,154.040932,2.517235e+07,154.040932,132.250194,145.111824,157.973455,increasing